/* COMMON */
body {
    background: rgb(243, 243, 243);
}
.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: black;
}
p {
    margin-bottom: 30px;
    line-height: 1.8;
}
pre {
    line-height: 2;
}

/* FLOAT CLEARFIX */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}


/* section */
.section {
    width: 100%;
    position: relative;
}


/* SECTION & INNER */
.header {
    position: relative;
    z-index: 1;
}
.header .inner {
    box-sizing: border-box;
    display: flex;
    height: 78px;
    width: 100%;
    align-items: center;
}
header .menu-group {
    display: flex;
    padding-left: 28px;
}
header .menu-group li {
    margin-right: 10px;
    font-size: 16px;
}
header .menu-group li a:hover {
    color: rgb(65, 65, 65);
}
.toggle_text {
    display: none;
    text-indent: -9999px;
}
#toggle-btn {
    text-indent: -9999px;
}
header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header .title a {
    font-size: 28px;
    letter-spacing: 6px;
}


/* SECTION */
.summary {
    max-width: 1400px;
    margin: 200px auto;
    box-sizing: border-box;
}
.text-site {
    display: flex;
    margin-bottom: 150px;
}

.text-left {
    width: 700px;
}
.text-right {
    width: 700px;
}
.high-site {
    font-size: 22px;
    font-weight: 300;
}

.input--text {
    width: 500px;
    height: 34px;
    padding: 10px 10px;
    margin-right: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid black;
    font-size: 25px;
}
.input--text:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075), 
                0 0 5px rgba(81, 167, 232, .5);
}
.input--btn {
    border-radius: 5px;
    border: none;
    background: black;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 15px 50px;
    cursor: pointer;
}