/* COMMON */
body {
    background: rgb(243, 243, 243);
}
.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: black;
}
p {
    margin-bottom: 30px;
    line-height: 1.8;
}

/* FLOAT CLEARFIX */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}


/* HEADER & INNER */
.header {
    position: relative;
    z-index: 1;
}
.header .inner {
    box-sizing: border-box;
    display: flex;
    height: 78px;
    width: 100%;
    align-items: center;
}
.fixed {
    position: fixed;
}
header .menu-group {
    display: flex;
    padding-left: 28px;
}
header .menu-group li {
    margin-right: 10px;
    font-size: 16px;
}
header .menu-group li a:hover {
    color: rgb(65, 65, 65);
}
.toggle_text {
    display: none;
    text-indent: -9999px;
}
#toggle-btn {
    text-indent: -9999px;
}
header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header .title a {
    font-size: 28px;
    letter-spacing: 6px;
}

/* SECTION */
.section {
    width: 100%;
}
.summary {
    width: 100%;
    display: flex;
}
.image-site {
    position: fixed;
    width: 50vw;
    height: 100vh;
    box-sizing: border-box;
}
.museum {
    max-width: 100%;
    height: 100%;
    background: url("../../images/one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}
.text-site {
    position: absolute;
    left: 50vw;
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
    padding: 180px 110px;
}
.text__picture {
    width: 100%;
    height: 300px;
    background: url("../../images/one.jpg");
    box-sizing: border-box;
    margin: 100px 0;
    text-indent: -9999px;
}
