/* COMMON */
body {
    background: rgb(243, 243, 243);
}
.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: black;
}
p {
    margin-bottom: 30px;
    line-height: 1.8;
}



/* FLOAT CLEARFIX */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}



/* NAV IN HEADER */
.header {
    position: relative;
    z-index: 1;
}
.header .inner {
    box-sizing: border-box;
    display: flex;
    height: 78px;
    width: 100%;
    align-items: center;
}
header .menu-group {
    display: flex;
    padding-left: 28px;
}
header .menu-group li {
    margin-right: 10px;
    font-size: 16px;
}
header .menu-group li a:hover {
    color: rgb(65, 65, 65);
}
.toggle_text {
    display: none;
    text-indent: -9999px;
}
header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header .title a {
    font-size: 28px;
    letter-spacing: 6px;
}
#toggle-btn {
    text-indent: -9999px;
}
/* NAV IN HEADER OF END */



/* SECTION */
.section {
    width: 100%;
    position: relative;
}

/* TEXT SECTION */
.summary {
    max-width: 1150px;
    margin: 80px auto;
    box-sizing: border-box;
}
.text-site {
    padding: 0 200px;
}
/* TEXT SECTION OF END */




/* IMAGE SLIDE SECTION */
.image_section {
    width: 100%;
    display: flex;
    justify-content: center;
}
#container {
    width: 100%;
}
.slide_wrap {
    position: relative;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 30px;
}
.slide_box {
    width: 800px;
    margin: auto;
    overflow-x: hidden;
}
.slide_content{
    display: table;
    float: left;
    width: 800px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide01 {
    background: url("../images/demo_img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide02 {
    background: url("../images/demo_img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide03 {
    background: url("../images/demo_img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide04 {
    background: url("../images/demo_img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide05 {
    background: url("../images/demo_img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide_btn_box {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}
.slide_btn_prev {
    background: url("../images/left.png");
    background-size: cover;
    border: none;
    width: 60px;
    height: 60px;
    opacity: 0.7;
    cursor: pointer;
}
.slide_btn_next {
    float: right;
    background: url("../images/right.png");
    background-size: cover;
    border: none;
    width: 60px;
    height: 60px;
    opacity: 0.7;
    cursor: pointer;
}
/* IMAGE SLIDE SECTION OF END*/