/* TEXT AND POST SECTION */
.text-site {
    display: block;
}
.text-left {
    width: 100%;
}
.text-right {
    width: 100%;
}
.input--text {
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.input--btn {
    width: 100%;
}
/* TEXT AND POST SECTION OF END */