header .menu-group {
    display: block;
}
header .toggle { 
    /* display: none; */
}
#toggle-btn {
    background: url("../../images/toggle-btn.svg");
    width: 18px;
    height: 24px;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    text-indent: -9999px;
}