/* NAV IN HEADER */
.header .inner {
    height: 100%;
}
.fixed {
    position: relative;
}
.fixed.on {
    position: fixed;
    top: 0;
}
.menu_box {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: lightblue;
    padding: 0;
}
header .toggle { 
    display: none;
}
header .toggle.on {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .menu-group {
    text-align: center;
    padding-left: 0;
}
header .menu-group li {
    margin: 20px;
}
.toggle_text {
    width: 90vw;
    position: absolute;
    bottom: 50px;
    padding-top: 10px;
    border-top: 1px solid black;
    text-indent: 0px;
}
header .title {
    position: absolute;
    margin-top: 0;
    padding-top: 0;
    top : 40px;
}
#toggle-btn {
    z-index: 3;
    background: url("../../images/toggle-btn.svg");
    width: 18px;
    height: 24px;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    text-indent: -9999px;
}
/* NAV IN HEADER OF END */



/* TEXT AND POST SECTION */
.input--text {
    width: 50vw;
}
/* TEXT AND POST SECTION OF END */